setuptools==59.8.0
pillow==9.4.0
torch==2.0.0
torchvision==0.15.1
torchaudio==2.0.1
torchshow
transformers==4.33.1
accelerate
sentencepiece
ftfy
timm
diffdist
fastapi
uvicorn
streamlit-drawable-canvas
streamlit-chat
seaborn
altair==4.2.2
tqdm
